name: Java CI with Gradle

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

permissions:
  contents: read

env:
  mod_name: right-click-chest-boat
  mod_version: 1.0.4

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          java-version: '21'
          distribution: 'temurin'
      - name: Build with Gradle
        uses: gradle/gradle-build-action@v3.4.2 # v2.6.0
        with:
          arguments: build
      - name: Upload Fabric Mod
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.mod_name }}-fabric-${{ env.mod_version }}
          path: ./fabric/build/libs/${{ env.mod_name }}-fabric-${{ env.mod_version }}.jar
          retention-days: 7
      - name: Upload Fabric Mod Sources
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.mod_name }}-fabric-${{ env.mod_version }}-sources
          path: ./fabric/build/libs/${{ env.mod_name }}-fabric-${{ env.mod_version }}-sources.jar
          retention-days: 7
      - name: Upload Fabric Mod Dev Shadow
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.mod_name }}-fabric-${{ env.mod_version }}-dev-shadow
          path: ./fabric/build/libs/${{ env.mod_name }}-fabric-${{ env.mod_version }}-dev-shadow.jar
          retention-days: 7
      - name: Upload NeoForge Mod
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.mod_name }}-neoforge-${{ env.mod_version }}
          path: ./neoforge/build/libs/${{ env.mod_name }}-neoforge-${{ env.mod_version }}.jar
          retention-days: 7
      - name: Upload NeoForge Mod Sources
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.mod_name }}-neoforge-${{ env.mod_version }}-sources
          path: ./neoforge/build/libs/${{ env.mod_name }}-neoforge-${{ env.mod_version }}-sources.jar
          retention-days: 7
      - name: Upload NeoForge Mod Dev Shadow
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.mod_name }}-neoforge-${{ env.mod_version }}-dev-shadow
          path: ./neoforge/build/libs/${{ env.mod_name }}-neoforge-${{ env.mod_version }}-dev-shadow.jar
          retention-days: 7
